/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #222;
} 
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #766d6d;
    text-align: center;  
    margin: 10px 0px 10px 0px; 
}
nav a{
    color: #766d6d;
    text-decoration: none;
    letter-spacing: 4px;
}
nav a:hover{
    color: #a61313;
    text-decoration: underline;
}
video {
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    overflow: hidden;
    width: 100%;
}
.masthead {
    position: relative;
    
}
.masthead-video {
    z-index: 0;
}
.masthead-overlay {
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    height: 100%;
}

h1 {
    position: absolute;
    width: 100%;
    font-weight: 700;
    font-size: 110px;
    text-align: center;
    height: 120px;
    line-height: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    
}
h1 span {
    display: block;
    font-size: 18px;
    letter-spacing: 0.43em;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 7px;
}
img.hero{
    background-image: url('../image/hero_spot3.png');
    background-position: cover;
    height: 350px;
    width: 100%;
    margin: 0;
}
header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: center;
    margin: 0px 200px 0px 200px;
}

header img{
    border: 2px solid black;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 20px 0px 0px 0px;
}

#intro{
    width: 80%;
}

.name_intro{
    padding-top: 70px; 
}

 h2{
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    margin-bottom:10px;
}
h3{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0px;
}
.scrolled {
    position: fixed;
    z-index: 10;
    top: 0;
}
.portfolio{
    background-color: #ccc;
    width: 100%;
    /* background-image: url('../img/shoes_field.jpg');
     background-position: cover;
    margin: 0;
    opacity: 0.8;  */
}
.myLatestWork{
    font-weight: bold;
}
.myResume{
    font-weight: bold;
}
.myEducation{
    font-weight: bold;
}
.mySkills{
    font-weight: bold;
}
section p{
    text-align: center;
    margin: 0;
}
.projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.myProjects {
    width: 30%;  
}
img.Projects {
     border: 1px solid black;
}
section ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
} 
section li{
     margin: 0px;
     padding: 0px;
}
form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;   
    width: 30%;
    margin: auto; 
}
input{
    border: 2px solid #bbbbbb;
    padding: 5px;
    margin: 0px 0px 25px 0px;
    width: 400px;
    background-color: #dcdcdc;
}
textarea{
    border: 2px solid #bbbbbb;
    width: 410px;
    height: 250px;
    background-color: #dcdcdc;
    resize: vertical;
}
button{
    margin: 15px 0px 0px 0px;
    padding: 5px;
    width:200px;
    height: 40px;
    color: #dcdcdc;
    text-align: left;
    border: 2px solid #808080;
    background-color: #6d6b6b;
}
.emptyGetRedBorder {
	border: 2px solid red;
}
.completedGetsGreenBorder {
	border: 2px solid green;
}
footer{
    background-color: #6d6b6b;
    color: white;
    text-align: center;
}
footer p{
    letter-spacing: 3px;
}
#copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px 0px 5px 0px;
}
.img-social-fb{
    width: 30px;
    height: 30px;
    padding: 0px 10px 0px 10px;
}

@media screen and (max-width: 660px){
    .myProjects {
    width: 90%;  
}
    }

    @media screen and (max-width: 450px){
    .myProjects {
    width: 90%;  
}
.masthead {

    width: 100%;
}
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
